<div class="container">
  <div style="text-align: center">
    <h1>List of all the amazing cocktails!</h1>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
          <div class="card-name">
            <%= cocktail.name %>
          </div>
          <div class="card-delete-edit">
            <%= link_to edit_cocktail_path(cocktail) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
            <%= link_to "", cocktail_path(cocktail), class:"card-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
